{
  "extends": ["react-app", "prettier", "airbnb"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": "off",
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "operator-linebreak": "off",
    "arrow-parens": "off"
  }
}