$nav-background-color: rgba(0, 0, 0, 0);
$nav-icon-color: rgb(96, 96, 96);
$search-button-color: #f8f8f8;
$search-border-color: rgb(204, 204, 204);

header {
  padding: 10px 20px;
  .nav {
    background-color: $nav-background-color;
    display: flex;
    height: 56px;
    flex-direction: row;
    align-items: center;
    &__menu {
      margin-right: 20px;
      &-icon {
        color: $nav-icon-color;
        font-size: 20px;
      }
    }
    &__logo {
      height: 100%;
      &-img {
        height: 100%;
      }
    }
    &__search-bar {
      width: 60%;
      height: 30px;
      margin: 0 auto;
      .nav__search-input {
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        border: $search-border-color 1px solid;
      }
      .nav__search-button {
        width: 50px;
        height: 100%;
        background-color: $search-button-color;
        border: $search-border-color 1px solid;
        vertical-align: top;
      }
    }
    &__notification {
      margin-right: 20px;
      &-icon {
        color: $nav-icon-color;
        font-size: 20px;
      }
    }
    &__login {
      $login-color: rgb(6, 95, 212);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70%;
      width: 100px;
      color: $login-color;
      border-style: solid;
      border-width: 1px;
      outline: none;

      &-icon {
        margin-right: 10px;
        font-size: 24px;
      }
    }
    &__profile {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: black;
      border-radius: 50%;
    }
  }
}