$sidebar-background-color: rgb(250, 250, 250);
$sidebar-icon-color: rgb(96, 96, 96);

.sidebar {
  width: 20%;
  height: 100%;
  background-color: $sidebar-background-color;

  &__item {
    padding: 10px 0 10px 30px;
    width: 100%;
    color: $sidebar-icon-color;
    text-align: left;
    line-height: 20px;

    &-icon-wrapper {
      display: inline-block;
      width: 30px;
      text-align: center;
      margin-right: 20px;
    }
    &-icon {
      font-size: 20px;
    }
    &-img {
      width: 100%;
      height: 20px;
    }
    &-text {
      font-size: 15px;
      color: black;
      vertical-align: top;
    }
    &:hover {
      background: #bbb;
    }
  }
}